body {
	background: #232323;
	margin: 0;
	font-family: "Avenir","Montserrat";
}

h1 {
	padding: 20px 0;
	line-height: 1.0;
	text-align: center;
	color: white;
	background: #7a7170;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

.square {
	width: 30%;
	/*background: purple;*/ /* Default value for texting*/
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	border-radius: 50%;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	color: white;
	background-color: #7a7170;
}

#colorDisplay {
	font-size: 200%;
}

button {
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;
	color: #7a7170;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	outline: none;
}

#feedBack {
	display: inline-block;
	width: 20%;
	color: #7a7170;
	font-weight: 700;
}

button:hover {
	color: white;
	background: #7a7170;
}